version: 2.1
parameters:
  device-commander-version:
    type: string
    default: "0.0.1"
orbs:
  docker: circleci/docker@1.7.0
executors:
  docker-publisher:
    docker:
      - image: circleci/buildpack-deps:latest-alpine
jobs:
  lint:
    docker:
      - image: golangci/golangci-lint:v1.37-alpine
    steps:
      - checkout
      - run:
          working_directory: ./src
          command: |
            golangci-lint run
  publish-devicecommander:
    description: Publish the DeviceCommander docker image to Docker Hub.
    environment:
        VERSION: << pipeline.parameters.device-commander-version >>
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: Publish the DeviceCommander docker image to Docker Hub.
          working_directory: .
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            SHORT_SHA=${CIRCLE_SHA1:0:7}
            docker build . -t rnavt/devicecommander:$VERSION-$SHORT_SHA -t rnavt/devicecommander:$CIRCLE_BRANCH -t rnavt/devicecommander:latest
            docker push rnavt/devicecommander:$VERSION-$SHORT_SHA
            docker push rnavt/devicecommander:$CIRCLE_BRANCH
            docker push rnavt/devicecommander:latest
workflows:
  version: 2
  devicecommander-build:
    jobs:
      - lint
      - docker/publish:
          name: publish-devicecommander
          image: rnavt/devicecommander
          context: docker_hub
          docker-context: .
          tag: ${CIRCLE_SHA1:0:7},$CIRCLE_BRANCH
          filters:
              branches:
                only:
                  - master
