<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title LightDash
  body(style={margin: 0})

    // Display this if the user has no javascript
    noscript
      Enable JavaScript to use website

    // The main tag that react will output all of it's magic inside
    #app

    script(src="./src/index.tsx")